.App {
  padding: 2rem;
}

.roundButton {
  padding: 0.2rem;
  font-size: 0.8rem;
  border: none;
  width: 4rem;
  height: 4rem;
  border-radius: 25%;
  margin: 0.5rem;
}

.selectedBox {
  width: 2rem;
  height: 10rem;
  border: 1px solid lightgray;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.selectedContainer {
  margin-bottom: 1rem;
}