.App {
  padding: 2rem;
}
/* 팔레트 색깔 버튼 css */
.roundButton {
  padding: 0.2rem;
  font-size: 0.8rem;
  border: none;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 40%;
  margin: 0.4rem;
}

.selectedBox {
  width: 2rem;
  height: 10rem;
  border: 1px solid lightgray;
}

.flex {
  display: flex;
}

.flex-fow {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.selectedContainer {
  margin-bottom: 1rem;
}

textarea#color-selection {
  height: 8rem;
}

textarea#explanation {
  height: 14rem;
}
