@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MinSans-Medium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Medium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  min-width: 320px;
  margin: 0;
  font-family: "MinSans-Medium";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-break: keep-all;
}

main {
  --nav-height: 2.5rem;
  --footer-height: 10rem;
  min-height: calc(100vh - var(--nav-height) - 0.8px - var(--footer-height));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

li[role="alert"] {
  color: red;
}

.pop-box-shadow {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.table.table-purple-zebra thead th {
  background-color: #e7e9f8;
}

.table:where(.table-purple-zebra, .table-yellow-zebra) tr :where(td, th) {
  border-top-width: 0;
  border-bottom-width: 0;
}

.table.table-purple-zebra tbody tr:nth-child(even) :where(td, th) {
  background-color: #e7e9f8;
}

.table.table-yellow-zebra thead th {
  background-color: #fff4cb;
}

.table.table-yellow-zebra tbody tr:nth-child(even) :where(td, th) {
  background-color: #fff4cb;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 0.25rem;
}
