@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MinSans-Medium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Medium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  min-width: 320px;
  margin: 0;
  font-family: "MinSans-Medium";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

li[role="alert"] {
  color: red;
}

.pop-box-shadow {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
