.test-form {
  margin: 2rem;
}

.flex {
  display: flex;
}

.flex-fow {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

div#pallete-box {
  width: fit-content;
  border-radius: 0 0 1rem 1rem;
  background-color: #e6e6e6;
}

div#pallete {
  padding: 1rem 0;
  margin: 1.5rem 0;
  justify-content: center;
}

/* 팔레트 색깔 버튼 css */
.roundButton {
  padding: 0.2rem;
  font-size: 0.8rem;
  border: none;
  width: 8rem;
  height: 6rem;
  border-radius: 2rem;
  margin: 0.4rem;
}

td {
  width: 0.5rem;
  height: 10rem;
  border: 1px solid lightgray;
}

td:first-child,
td:last-child {
  border-radius: 2rem;
}

.selectedContainer {
  justify-content: center;
  margin-bottom: 1rem;
}

div.quiz-paragraph {
  padding-left: 1rem;
}

a.category {
  display: block;
  margin-bottom: 1rem;
  font-size: small;
}

h1#q,
h1#quiz-text {
  display: inline-block;
  width: fit-content;
  margin-bottom: 0.3rem;
}

p#allColor {
  margin-left: 0.2rem;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 0.6rem;
}
label {
  margin-left: 0.2rem;
  font-weight: bold;
}

label#explanation {
  font-size: 24px;
}
input#color-selection {
  height: 3rem;
  border-radius: 10px;
  background-color: #e6e6e6;
  border-style: none;
}

textarea#explanation {
  height: 14rem;
  border-radius: 10px;
  background-color: #e6e6e6;
  border-style: none;
}

/* https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/Tab_Role */
button[role="tab"] {
  display: inline-block;
  width: initial;
  border-radius: 0.5rem 0.5rem 0 0;
}

button[role="tab"][aria-selected="true"] {
  background-color: var(--primary-darker);
  border-color: var(--primary-darker);
}
